@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --main-bg-color: rgb(20,20,24);
}

body {
  background: var(--main-bg-color);
  color: white;
  font-family: Inter;
}
