@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --main-bg-color: rgb(20,20,24);
  --sec-bg-color: rgb(26,26,32);
}

body {
  margin: 0;
  background: var(--main-bg-color);
  justify-items: center;
  color: white;
  font-family: Inter;
}

.navbar h1 {
  margin: 0;
}

.navbar {
  display: flex;
  width: fit-content;
  height: fit-content;
  margin: 15px;
  padding: 25px;
  background: var(--sec-bg-color);
  text-align: center;
}
