@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --main-bg-color: rgb(20,20,24);
  --sec-bg-color: rgb(28,28,34);
}

body {
  margin: 0;
  background: var(--main-bg-color);
  justify-items: center;
  color: white;
  font-family: Inter;
}

.navbar h1 {
  margin: 0;
}

.clist {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: fit-content;
}

.char h1 {
  font-size: 56px;
  margin: 5px;
}

.char p {
  font-size: 16px;
  margin: 5px;
}

.char {
  background: var(--sec-bg-color);
  border-radius: 10px;
  width: 120px;
  display: flex;
  text-align: center;
  flex-direction: column;
  padding: 10px;
  margin: 10px;
}

.navbar {
  display: flex;
  width: fit-content;
  height: fit-content;
  margin: 10px;
  border-radius: 10px;
  padding: 20px;
  background: var(--sec-bg-color);
  text-align: center;
}
